.context-menu {
  position: absolute;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 20px; 
  overflow: hidden;
  border: 1px solid var(--dark-dark3, #2D2D42);
  background: var(--dark-dark1, #101021);
  padding: 5px;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  cursor: pointer;
  padding: 10px;
  font-size: small;
  border-bottom: 1px solid #313134;
  list-style: none;
}

.context-menu li .svg-inline--fa {
  margin-right: 5px;
}

.context-menu li:last-child {
  border-bottom: none;
}

.context-menu li:hover {
    background: var(--dark-dark2, #202030);
}

.delete {
  color:  #F480A6;
}

.delete .svg-inline--fa {
  color:  #F480A6;
}

.context-menu h1 {
    margin: 0;
    font-weight: bolder;
}

.context-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-header {
  display: flex;
  margin-left: 25px;
}

.btn-header .btn {
  border: 1px solid #3e63dd00;
}

.btn-header .btn:hover {
  border: 1px solid #3E63DD;
  border-radius: 50%;
}

.context-menu ul::-webkit-scrollbar {
    width: 4px; 
}

.context-menu ul::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px; 
}

.context-menu ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

